/* make all buttons 20 by 20 pixels with white text and green background and a 10 pixel margin */
button { width: 170px; height: 40px; background: gray; color: white; margin: 10px; }

.key2 { width: 270px; height: 40px; background: gray; color: white; margin: 10px; }

/* make all tags with the "cool" class name have blue text */
.cool { color: blue; }

/* make the button with ID "delete" red */
#delete { background: red; }